*{
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

#contact .contain{
    box-shadow: 0px 1px 11px -6px black;
    border: 1px solid #d5d5d5;
    border-radius: 30px;
    margin-bottom: 70px;
    /* justify-content: ; */
}

#contact .submit{
    box-shadow: 0px 1px 11px -6px black;
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    background-color: #6c63ff;
    color: white;
    padding: 10px;
    font-size: 25px;
}

#contact .text-danger{
    margin-bottom: -10px;
}

#contact h1{
    color: #7952b3;
}
