#upload{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: -70px;
}

.wrapper{
    width: 500px;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 52px 4px #b1b1b1;
}

.wrapper header{
    color:#6990f2;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}

.wrapper .uploadForm{
    border: 2px dashed #6990f2;
    border-radius: 5px;
    height: 200px;
    margin: 30px 0;
    text-align: center;
    padding-top: 50px;
    cursor: pointer;
}

.wrapper form :where(i, p){
    color: #6990f2;
}

.wrapper form i{
    font-size: 50px;
}

.wrapper form p{
    font-size: 16px;
    margin-top: 15px;
}

.wrapper form .submit{
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 6px 0px #00000075;
    border-radius: 10px;
    line-height: 30px;
    color: white;
    background-color: #8b68ff;
   margin: auto;
}

section .row{
    background: #e9f0ff;
    margin-bottom: 10px;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}
section .row i{
    font-size: 30px;
    color: #6990f2;
}

section .details span{
    font-size: 14px;
}

.progress-area .row .content{
    width: 100%;
    margin-left: 15px;
}

.progress-area .details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.progress-area .progress-bar{
    height: 6px;
    width: 100%;
    background: #fff;
    margin-bottom: 4px;
    border-radius: 30px;
}

.progress-bar .progress{
    height: 100%;
    width: 50%;
    background: #6990f2;
    border-radius: inherit;
}
/* .uploaded-area{
    max-height: 230px;
    overflow-y: scroll;
} */

.uploaded-area .row{
    flex-direction: row;
    flex-wrap: nowrap;
}
.uploaded-area .row .content{
    display: flex;
    align-items: center;
    width: 90%;

}
.uploaded-area .row .details{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.uploaded-area .details .size{
    font-size: 11px;
    color: #404040;
}

.uploaded-area .fa-check{
    color: #6990f2;
    font-size: 16px;
    display: block;
    width: 50%;
}
